@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Mochiy Pop One', sans-serif;
    background-color: #f2acac;
}

input#open{
    display: none;
}

.card {
    position: relative;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    transform: perspective(2500px);
    transition: 0.5s;
}

.front {
    position: relative;
    background-color: #fff0f3;
    width: 300px;
    height: 300px;
    transform-origin: left;
    box-shadow: inset 100px 28px 100px rgba(0, 0, 0, 0.15), 30px 0 50px rgba(0, 0, 0, 0.3);
    transition: 0.5s;
}

.front::before{
    content: "";
    position: absolute;
    width: 280px;
    height: 280px;
    background-color: #d04e4e;
    top: 10px;
    left: 10px;
}

.inside{
    position: absolute;
    background-color: #fff0f3;
    width: 300px;
    height: 300px;
    z-index: -1;
    left: 0;
    top: 0;
    box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.22), 100px 20px 100px rgba(0, 0, 0, 0.1);
}

.open {
    position: absolute;
    width: 300px;
    height: 300px;
    left: 0;
    top: 0;
    background-color: transparent;
    z-index: 7;
    cursor: pointer;
}

.coklat {
    display: none;
    background-color: transparent;
}

#open:checked ~ .coklat{
    display: grid;
    background-image: url("coklat.png");
    background-size: cover;
    width: 300px;
    position: absolute;
    top: 25px;
    left: 350px;
}

.text3{
    display: none;
}

#open:checked ~ .text3 {
    display: grid;
    position: absolute;
    color: #333;
    font-size: 24px;
    top: 230px;
    left: 350px;
    width: 300px;
    text-align: center;
}

#open:checked ~ .front{
    transform: rotateY(-150deg);
    box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.13), 30px 0px 50px rgba(0, 0, 0, 0.1);
}

#open:checked ~ .front::before {
    z-index: 5;
    background-image: url("bby.jpeg");
    background-size: 390px;
    background-position: center;
    width: 300px;
    height: 300px;
    top: 0;
    left: 0;
    box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.1), 30px 0px 50px rgba(0, 0, 0, 0.1);
}

.notes {
    position: relative;
    width: 200px;
    height: 150px;
    top: 75px;
    left: 50px;
    color: #333;
    background-color: #fff0f3;
    font-size: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.3));
}

.notes::before, .notes::after{
    content: "";
    position: absolute;
    background-color: #ba1c1c;
    width: 40px;
    height: 40px;
}

.notes::before{
    transform: rotate(-45deg);
    top: -20px;
    left: 80px;
}

.notes::after{
    border-radius: 50%;
    top: -35px;
    left: 65px;
    box-shadow: 30px 0 #ba1c1c;
}

.text {
    position: absolute;
    color: #333;
    font-size: 30px;
    top: 10px;
    width: 300px;
    text-align: center;
}

.text2 {
    position: absolute;
    color: #333;
    font-size: 22px;
    top: 240px;
    width: 300px;
    text-align: center;
}

.text::before, .text::after{
    position: absolute;
    left: 5px;
    text-align: center;
    width: 300px;
}

.text::before{
    content: "Valentine's";
    top: 35px;
    color: #d04e4e;
}

.text::after{
    content: "day!!!";
    top: 70px;
}

.heart {
    position: relative;
    background-color: #d04e4e;
    height: 60px;
    width: 60px;
    top: 150px;
    left: 120px;
    transform: rotate(-45deg);
    animation: beat 1s infinite;
}

.heart::before, .heart::after{
    content: "";
    position: absolute;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    background-color: #d04e4e;
}

.heart::before{
    top: -30px;
    left: 0;
}

.heart::after{
    left: 30px;
    top: 0;
}

.smile {
    position: absolute;
    width: 30px;
    height: 15px;
    background-color: #333;
    z-index: 1;
    border-radius: 0 0 100px 100px;
    top: 180px;
    left: 135px;
    overflow: hidden;
}

.smile::before{
    content: "";
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: #030202;
    top: 5px;
    left: 5px;
}

.eye{
    position: absolute;
    border-radius: 50%;
    background-color: #333;
    width: 10px;
    height: 10px;
    z-index: 1;
    top: 170px;
    left: 165px;
    box-shadow: -40px 0 #333;
    transform-origin: 50%;
    animation: close 2s infinite;
}

@keyframes close {
    0%, 100% {transform: scale(1, .05);}
    5%, 95% {transform: scale(1, 1);}
}

@keyframes beat {
    0%, 40%, 100% {transform: scale(1) rotate(-45deg);}
    25%, 60% {transform: scale(1.1) rotate(-45deg);}
}
